# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
dist-ssr/
*.local
build/
.dart_tool/
.pub-cache/
.pub/

# Environment files
.env
.env.local
.env.*.local

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
